#ult-modal-container-ult-login {
	.ult-box {
		box-shadow: none;
		padding: 0;
		border: 0;
	}

	.ult-modal {
		max-height: 680px;
	}
}

.ult-login--recaptcha-error,
.ult-forgot-password--recaptcha-error,
.ult-reset-password--recaptcha-error {
	.g-recaptcha iframe {
		border-radius: 4px;
		border: 1px solid #ff0000;
	}
}

#ult-login-modal {
	$section: &;

	&.ult-login-modal--login {
		#{ $section }__login {
			display: block;
		}

		#{ $section }__forgot-password {
			display: none;
		}
	}

	&.ult-login-modal--forgot-password {
		#{ $section }__login {
			display: none;
		}

		#{ $section }__forgot-password {
			display: block;
		}
	}
}