.ult--fade-in {
	animation: ult_fadein 300ms;
}

.ult--fade-out {
	animation: ult_fadeout 300ms;
}

@keyframes ult_fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes ult_fadeout {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes ult_rotating_centered {
	0% { transform: translate(-50%,-50%) rotate(0deg); }
	100% { transform: translate(-50%,-50%) rotate(360deg); }
}