/**
 * Modal
 */

.ult-modal {
	display: none;
}

.ult-modal-container .ult-modal {
	display: block;
}

.ult-modal-container {
	width: 100%;
	height: 100%;

	position: fixed;

	display: none;

	top: 0;
	left: 0;

	z-index: 100000;
}

	.ult-modal-container--open {
		display: block;
	}

	.ult-modal__inside {
		width: 100%;
		height: 100%;

		justify-content: center;
		align-items: center;

		display: flex;
	}

	.ult-modal-box {
		width: calc(100% - 40px);
		max-width: 565px;

		max-height: calc(100vh - 40px);
		overflow-y: auto;

		background: #fff;

		box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);

		display: flex;
		flex-direction: column;

		position: relative;

		border-radius: 8px;

		overflow: hidden;

		&:before {
			content: '';

			width: 0;
			height: 0;

			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;

			background: #fff;

			opacity: 0;

			transition: opacity 300ms ease-in-out;

			border-radius: 8px;
		}

		&:after {
			content: '';

			width: 0;
			height: 0;

			border-radius: 50%;

			position: absolute;
			left: 50%;
			top: 50%;
			z-index: 11;

			opacity: 0;

			user-select: none;

			transition: opacity 300ms ease-in-out;
		}

		.ult-modal-container--loading &:before {
			width: 100%;
			height: 100%;

			opacity: 1;
		}

		.ult-modal-container--loading &:after {
			width: 50px;
			height: 50px;

			border: 3px solid transparent;
			border-top-color: #202020;

			animation: ult_rotating_centered 2s linear infinite;

			opacity: 1;
		}
	}

	.ult-modal--small .ult-modal-box {
		max-width: 385px;
	}

	.ult-modal--large .ult-modal-box {
		max-width: 750px;
	}

	.ult-modal-box-header {
		padding: 20px;
		text-align: center;
	}

		.ult-modal-box-header h1,
		.ult-modal-box-header h2,
		.ult-modal-box-header h3 {
			font-size: 30px;
			font-weight: 500;
			line-height: 32px;

			padding: 20px 20px 0px;
			margin: 0;
		}

	.ult-modal-box-content {
		width: 100%;

		position: relative;
		display: inline-flex;

		overflow: hidden;
		
		flex: 1 1 auto;
	}

		/*.ult-modal-box-content:after {
			content: '';

			width: 100%;

			left: 0px;
			bottom: 0px;

			height: 56px;
			
			position: absolute;
			
			pointer-events: none;

			background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
		}*/

		.ult-modal {
			width: 100%;

			font-weight: 400;
			font-size: 16px;

			overflow-y: auto;

			max-height: 300px;

			position: relative;

			margin: 0px;
			padding: 20px 40px;

			outline: none;
		}

			.ult-modal-box-content__inside::-webkit-scrollbar {
				width: 10px;
				background-color: rgba( 0, 0, 0, .09 );
				border-radius: 150px;
			}

			.ult-modal-box-content__inside::-webkit-scrollbar-thumb:vertical {
				background: #afafaf;
				border-radius: 150px;
				background-clip: padding-box;
				border: 2px solid rgba( 0, 0, 0, 0 );
				min-height: 10px;
			}

		.ult-modal-box-content__br {
			width: 100%;
			height: 10px;
			display: block;
		}

	.ult-modal-box-footer {
		flex: 1 1 auto;

		text-align: center;

		padding: 20px;
		margin: 0px 20px 20px;

		overflow: hidden;
	}

		.ult-modal-box-footer__dismiss {
			font-size: 16px;
			font-weight: 600;

			padding: 10px 20px;

			cursor: pointer;

			line-height: 1.1;

			border: 0;

			display: inline-block;

			background: transparent;
			color: #0077c5;

			transition: background 150ms ease-in-out;

			border-radius: 150px;
		}

		.ult-modal-box-footer__dismiss:hover {
			background: #dadadc;
		}

		.ult-modal-box-footer__dismiss:active {
			background: #c4c4c6;
		}

	@media screen and (max-width: 1000px){
		.ult-modal-box-header h1,
		.ult-modal-box-header h2,
		.ult-modal-box-header h3 {
			font-size: 24px;
			line-height: 26px;
		}
	}

/**
 * Global modifications
 */

body.ult-modals--open {
	overflow: hidden !important;
}

body.ult-modals--dim-background .ult-modal-container {
	background: rgba(0,0,0,.4);
}