/**
 * Button
 */

.ult-form__submit-btn,
#ult-login-form #ult-login-submit {
	width: 100%;
	background: $primary_color;
	color: #fff;
	font-size: 16px;
	line-height: 1.5;
	display: inline-block;
	outline: none;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	padding: 8px 15px;
	border-radius: 3px;
	transition: color 150ms ease-in-out, background-color 150ms ease-in-out,border-color 150ms ease-in-out, box-shadow 150ms ease-in-out, opacity 150ms ease-in-out;
	cursor: pointer;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
	position: relative;
}

	.ult-form__row--submit {
		position: relative;
	}

	#ult-login-form .login-submit {
		position: relative;
	}

	.ult-form__submit-btn:not(.ult-form__submit-btn--loading):focus,
	#ult-login-form .login-submit:not(.ult-form__submit-btn--loading) #ult-login-submit:focus,
	#ult-forgot-password .ult-form__row--submit:not(.ult-form__submit-btn--loading) #ult-forgot-password-submit-btn:focus {
		box-shadow: 0 0 0 0.2rem rgba( $primary_color, .5 );
	}

	.ult-form__submit-btn--loading:before {
		opacity: 0;
		transition: opacity 150ms ease-in-out;
	}

	.ult-form__submit-btn--loading,
	.ult-form__submit-btn--loading #ult-login-submit,
	.ult-form__submit-btn--loading #ult-forgot-password-submit-btn,
	.ult-form__submit-btn--loading #ult-reset-password-submit-btn {
		color: transparent !important;
	}

	.ult-form__submit-btn--loading:before {
		content: '';

		width: 18px;
		height: 18px;

		opacity: 1;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		transform-origin: 0 0;

		animation: spin-centered .8s linear infinite;

		z-index: 2;

	 	@include svg ((
			x: 0,
			y: 0,
			viewBox: 0 0 512 512,
			'xml:space': preserve
		))
		{
			@include svg( 'path', (
				fill: #fff, 
				d: 'M456.433 371.72l-27.79-16.045c-7.192-4.152-10.052-13.136-6.487-20.636 25.82-54.328 23.566-118.602-6.768-171.03-30.265-52.529-84.802-86.621-144.76-91.424C262.35 71.922 256 64.953 256 56.649V24.56c0-9.31 7.916-16.609 17.204-15.96 81.795 5.717 156.412 51.902 197.611 123.408 41.301 71.385 43.99 159.096 8.042 232.792-4.082 8.369-14.361 11.575-22.424 6.92z'
			));
		}

	 	background-size: contain;
	 	background-position: center center;
	 	background-repeat: no-repeat;
	}

	.ult-form__submit-btn--disabled {
		opacity: .6;
		cursor: not-allowed;
		pointer-events: none;
	}

	@-ms-keyframes spin-centered {
        from {
            -ms-transform: rotate(0deg) translate(-50%,-50%);
        }
        to {
            -ms-transform: rotate(360deg) translate(-50%,-50%);
        }
    }

    @-moz-keyframes spin-centered {
        from {
            -moz-transform: rotate(0deg) translate(-50%,-50%);
        }
        to {
            -moz-transform: rotate(360deg) translate(-50%,-50%);
        }
    }

    @-webkit-keyframes spin-centered {
        from {
            -webkit-transform: rotate(0deg) translate(-50%,-50%);
        }
        to {
            -webkit-transform: rotate(360deg) translate(-50%,-50%);
        }
    }

    @keyframes spin-centered {
        from {
            transform: rotate(0deg) translate(-50%,-50%);
        }
        to {
            transform: rotate(360deg) translate(-50%,-50%);
        }
    }
